.item_container{
    transition-duration: .3s;
    margin-bottom: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item_container:hover{
    transition-duration: .3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}

.item_selectable
{
    background-color: #FFFFFF;
}

.item_selectable:hover{
    background-color: #F3F3F3;
}

a{
    color: #ff9001;
}
a:hover{
    color: #cd7300;
}

li:hover{
    color: #ff9001;
}

.btn.btn-primary{
    background: #ff9001;
    border-color: #ff9001;
}

.btn.btn-primary:hover{
    background: #cd7300;
    border-color: #cd7300;
}

.btn.btn-primary:not(:disabled):not(.disabled):active{
    background: #cd7300;
    border-color: #cd7300;
}

.btn.btn-primary:not(:disabled):not(.disabled):focus{
    box-shadow: 0 0 0 0.2rem rgba(255, 136, 0, 0.50);
}

select.form-control:focus{
    box-shadow: 0 0 0 0.2rem rgba(255, 136, 0, 0.50);
    border-color: #cd7300;
}

input.form-control:focus{
    box-shadow: 0 0 0 0.2rem rgba(255, 136, 0, 0.50);
    border-color: #cd7300;
}

textarea.form-control:focus{
    box-shadow: 0 0 0 0.2rem rgba(255, 136, 0, 0.50);
    border-color: #cd7300;
}

.page-link:focus{
    box-shadow: 0 0 0 0.2rem rgba(255, 136, 0, 0.50);
}

:focus {
    outline-color: #FEB04B;
}

.navbar-toggler:focus{
    outline-color: #FEB04B;
}

input[type="checkbox"], input[type="radio"]{
	position: absolute;
	right: 9000px;
}

input[type="checkbox"] + .label-text:before{
	content: "\f096";
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 5px;
}

input[type="checkbox"]:checked + .label-text:before{
	content: "\f14a";
	color: #FF9000;
	animation: effect 250ms ease-in;
}

input[type="checkbox"]:disabled + .label-text{
	color: #aaa;
}

input[type="checkbox"]:disabled + .label-text:before{
	content: "\f0c8";
	color: #ccc;
}

@keyframes effect{
	0%{transform: scale(0);}
	25%{transform: scale(1.3);}
	75%{transform: scale(1.4);}
	100%{transform: scale(1);}
}

.unselectable {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */

    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;
}